
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}


/* Navigation Bar */
.navbar {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  
}

.navbar .logo img {
  height: 40px;
}

.navbar .nav-links a {
  margin-left: 20px;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  font-weight: regular;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 20px;
  background-color: #fffff;
}

.hero-text {
  max-width: 500px;
  font-weight: bold;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-buttons button {
  font-size: 0.8rem;
  margin-right: 10px;
  padding: 10px 30px;
  border: 1.5px solid #333;
  background-color: white;
  cursor: pointer;
  font-weight: medium;
}

.hero-buttons button:hover {
  background-color: #333;
  color: #fff;
}

.hero-image img {
  width: 400px;
  border-radius: 0px;
}

/* Experience Section */
.experience {
  display: flex;
  justify-content: center;
  padding: 100px 40px;
  background-color: #F0F5F2;
  gap: 4%;
}

.experience-item {
  max-width: 300px;
  text-align: left;
}

.experience-item h3{
  font-size: 1.4rem;
  line-height: 140%;
}

.experience-item p{
  color : #5B5B5D;
}

/* Projects Section */
.projects {
  padding: 80px 20px;
  text-align: center;
  background-color: #fffff;
}

.projects h2{
  font-size: 2.4rem;
  font-weight: bold;
}

.project-list {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.project {
  max-width: 300px;
  text-align: left;
}

.project button {
  margin-top: 10px;
  padding: 10px 20px;
  border: 1.5px solid #333;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}

.project button:hover {
  background-color: #333;
  color: #fff;
}

/* Blogs Section */
.blogs {
  padding: 80px 20px;
  text-align: center;
  background-color: #F0F5F2;
}

.blogs h2{
  font-size: 2.4rem;
  font-weight: bold;
}

.blog-list {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  margin-top: 60px;
}

.blog {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #f8f9fa;
}

/* Contact Section */
.contact {
  padding: 80px 20px;
  text-align: center;
  background-color: #f8f9fa;
}

.contact button {
  margin-top: 20px;
  color: white;
  padding: 10px 50px;
  border: 1.5px solid #333;
  background-color: black;
  cursor: pointer;
  font-weight: regular;
}

.contact button:hover {
  background-color: white;
  color: black;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero, .experience, .project-list, .blog-list {
    padding: 100px 20px;
    flex-direction: column;
    align-items: center;
  }

  .blog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .blog-list {
    padding: 120px 20px;
    grid-template-columns: 1fr;
  }
}

/* Blog Card 추가 */
.blog-card {
  background-color: #ffffff;
  padding-bottom: 32px;
  border: 1px solid #ddd;
  border-radius: 0px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  text-align: center;
}

.blog-card:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

.blog-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-link {
  text-decoration: none;
  color: inherit;
}

.blog-link h3 {
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 1.1rem;
  line-height: 145%;
}


.blog-link p {
  font-size: 0.9rem;
  color: #555;
}





.hero, .experience, .projects, .blogs, .contact {
  padding: 80px 20px;
}

/* 반응형 대응 */
@media (max-width: 768px) {
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .blog-list {
    grid-template-columns: 1fr;
  }
}
